{% extends 'layout.html' %}

{% block content %}
<div class="about-us">
    <!-- <button><h1>ABOUT US!</h1></button> -->
    <H2>Your one-stop digital market place.</H2>
        <img src="/images/woman-taking-photo-with-vegetables_23-2148579793.jpg" alt="">
        
    <P>
        EasyAgro is a tech enabled retailed platform for trading raw agro-products by giving<br>
        access to a wide assortment of farm produce at wholesale prices.<br>
        Our aim is to reduce the problem of long chain of middlemen. The journey of agricultural<br>
        products to the hands of the final consumer is usually involved with long chains of middlemen<br>
        which includes wholesalers, brokers, agents, retailers and much more. The agricultural goods<br>
        pass through all these people before they reach the final consumer. Sadly as it passes  through <br>
        each individual, the price increases and only the consumer bears the major concequences. <br>
        
    </P>

</div>  
{% endblock content %}