{% extends 'layout.html' %}

{% block content %}
<section class="header">
       
    <div class="text-box">
        <h1>Your one-stop digital market place.</h1>
        <p>Easy<i>A</i>gro is here to make your shopping easier</p>
        <a href="#">More</a>

    </div>

</section>
<!-- <div class="container">
    <h1>ABOUT US!</h1> 
<div class="about-us">
<img src="/images/wepik-photo-mode-202281-211658.jpeg" alt="">
 <P>
EasyAgro is a tech enabled retailed platform for trading raw agro-products
by giving access to a wide assortment of farm produce at wholesale prices.
Our aim is to reduce the problem of long chain of middlemen. The journey of 
agricultural products to the hands of the final consumer is usually involved 
with long chains of middlemen which includes wholesalers,brokers,agents, retailers and much more.
The agricultural goods pass through all these people before they reach the final consumer.

    </P>
   
</div>
</div>

<div class="service">
<div class="max-width">
    <h1>Our Service</h1>
    <div class="content">
        <div class="card">
            <div class="box">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>Online selling</h3>
                <p>Our online presence serve as a digital market place for our customers to 
                   conveniently purchase grains and other agricultural products at the comfort of their home.
                </p> 
            </div>

        </div>
        <div class="card">
            <div class="box">
                <h3>Delivery</h3>
                <p> Our delivery service specialize in the delivery of purchased goods to our consumers. 
                    We bring the marketplace to your doorstep via our top-notch delivery services.
                </p>
            </div>

        </div>
        <div class="card">
            <div class="box">
                <i class="fa-sharp fa-solid fa-users"></i>
                <h3>Regulating</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis libero facilisis, rhoncus nisl eu, 
                    iaculis odio. Ut mi augue, bibendum eget mauris nec, venenatis accumsan nisl. Sed et dolor tortor.
                     Vivamus at nibh ut urna tincidunt hendrerit a eget arcu.</p>
            </div>

        </div>
    </div>
</div>
</div>
</div>   -->
{% endblock content %}