{% extends 'layout.html' %}
{% block content %}
<div class="service">
    <div class="max-width">
        <div class="content">
            <div class="card">
                <div class="box">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h3>Rice</h3>
                     <img src="/images/rice.jpg" alt="">
                     <button type="submit"><a href="payment.html" target="_blank">Buy Now</a></button>
                </div>

            </div>
            <div class="card">
                <div class="box">
                    <h3>Beans</h3>
                    <img src="/images/jasmine-waheed-rZzRWBM7-zw-unsplash.jpg" alt="">
                    <button type="submit"><a href="payment.html" target="_blank">Buy Now</a></button>
                </div>

            </div>
            <div class="card">
                <div class="box">
                    <h3>Millet</h3>
                    <img src="/images/dawa.jpg" alt="">
                    <button type="submit"><a href="payment.html" target="_blank">Buy Now</a></button>
                </div>

            </div>
            <div class="card">
                <div class="box">
                    <h3>Maize</h3>
                    <img src="/images/maiz.jpg" alt="">
                    <button type="submit"><a href="payment.html" target="_blank">Buy Now</a></button>
                </div>

            </div>


            <div class="card">
                <div class="box">
                    <i class="fa-sharp fa-solid fa-users"></i>
                    <h3>Soya beans</h3>
                    <img src="/images/soyabean.jpg" alt="">
                    <button type="submit"><a href="payment.html" target="_blank">Buy Now</a></button>
                </div>

            </div>
        </div>
    </div>
   </div>
{% endblock content %}