{% extends 'layout.html' %}
{% block content %}
<div class="service">
    <div class="max-width">
        <h1>Our Service</h1>
        <div class="content">
            <div class="card">
                <div class="box">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h3>Online selling</h3>
                    <p>Our online presence serve as a digital market place for our customers to 
                        conveniently purchase grains and other agricultural products at the comfort of their home.
                    </p>
                </div>

            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/reshot-icon-delivery-S6JTX3PQ4G.svg" alt="">
                    <h3>Delivery</h3>
                    <p>Our delivery service specialize in the delivery of purchased goods to our consumers. 
                        We bring the marketplace to your doorstep via our top-notch delivery services.
                    </p>
                </div>

            </div>
            <div class="card">
                <div class="box">
                    <i class="fa-sharp fa-solid fa-users"></i>
                    <h3>Regulating</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis libero facilisis, rhoncus nisl eu, 
                        iaculis odio. Ut mi augue, bibendum eget mauris nec, venenatis accumsan nisl. Sed et dolor tortor.
                         Vivamus at nibh ut urna tincidunt hendrerit a eget arcu.
                        </p>
                </div>

            </div>
        </div>
    </div>
   </div>
{% endblock content %}
